.profileBar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.profileBarItem {
  margin-top: 15px;
}

.profileBarTitle {
  align-self: start;

  margin: 15px 0;
}

.profileIconContainer {
  align-self: flex-end;
  display: flex;
  margin: 11px 0 63px;
}
