.profileBar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 20px 0;
  height: 100%;
  width: 100%;
}

.profileBarItem {
  margin-top: 15px;
}

.profileBarTitle {
  align-self: start;

  margin: 15px 0;
}
