.sideBar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.text {
  line-height: 21px;
}

.sideBarItem {
  margin-top: 15px;
}

.sideBarTitle {
  align-self: start;

  margin: 15px;
}
.progressContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-bottom: 20px;

  gap: 15px;
}

.cardSelectCont {
  display: flex;
  justify-content: space-between;
}
